<div>
    <heading icon=" glyphicon-home" label="Дом"></heading>

    <ul class="nav nav-tabs" >
        <li role="presentation" ng-class="{'active':tabIndex ===0}" ng-click="tabIndex = 0"><a>Основная информация</a></li>
        <li role="presentation" ng-class="{'active':tabIndex ===1}" ng-click="tabIndex = 1"><a>Секции</a></li>
    </ul>

    <br/>
    <form class="form-horizontal" ng-show="tabIndex === 0">
        <fieldset disabled>
            <view-row label="Адрес" value="model.address"></view-row>
            <view-row label="Строительный номер" value="model.structuralNumber"></view-row>
            <view-row label="Почтовый номер" value="model.zipCode"></view-row>
            <view-checkbox label="Запись активна" value="model.active"/>
        </fieldset>
        <view-edit></view-edit>
    </form>
    <div ng-show="tabIndex === 1">
        <div class="row" style="margin-top: 10px">
            <div class="col-sm-4">
                <button class="btn btn-success" ng-click="newSection()">Новая запись</button>
            </div>
        </div>
        <br/>
        <div ui-grid="nestedOptions" ui-grid-pagination class="grid"></div>
    </div>
    <post-render></post-render>
</div>