<div ng-cloak ng-init="entity='house'">
    <heading icon=" glyphicon-home" label="Дом"></heading>

    <ul class="nav nav-pills nav-justified" >
        <li role="presentation" ng-class="{'active':tabIndex ===0}" ng-click="tabIndex = 0"><a href="javascript:void(1)">Основная информация</a></li>
        <li role="presentation" ng-class="{'active':tabIndex ===1}" ng-click="tabIndex = 1"><a href="javascript:void(1)">Секции</a></li>
    </ul>

    <br/>
    <form class="form-horizontal" ng-show="tabIndex === 0">
        <fieldset disabled>
            <view-row label="Адрес" value="model.address"></view-row>
            <view-row label="Строительный номер" value="model.structuralNumber"></view-row>
            <view-row label="Почтовый номер" value="model.zipCode"></view-row>
            <view-row label="Кооператив" value="selectedCoop.name"></view-row>
            <view-checkbox label="Запись активна" value="model.active"></view-checkbox>
        </fieldset>
        <view-edit></view-edit>
    </form>
    <div ng-show="tabIndex === 1">
        <div class="row" style="margin-top: 10px">
            <div class="col-sm-4">
                <button class="btn btn-success" ng-click="newSection()">Новая запись</button>
                <button class="btn btn-default" ng-click="toList()">К списку домов</button>
            </div>
        </div>
        <br/>
        <!--<div ui-grid="nestedOptions" ui-grid-pagination class="grid" ng-show="nestedOptions.data.length > 0">-->

        <!--</div>-->
        <!--<h4 ng-hide="nestedOptions.data.length > 0">Нет данных для просмотра</h4>-->
    </div>
    <post-render></post-render>
</div>