<div >
    <post-render entity="section"></post-render>

    <a href="#/house/view/{{house.id}}/1"><strong><i class="glyphicon glyphicon-home"></i> Дом </strong></a>
    <span class="bread"></span>
    <a href="#/section/view/{{model.id}}"><strong><i class="glyphicon glyphicon-th-large"></i> Секция </strong></a>
    <hr>

    <form name="form" class="form-horizontal" role="form" xt-form novalidate>
        <base-input-required label="Строительный номер" type="text" field="structuralNumber" model="model"></base-input-required>
        <base-input-required label="Почтовый номер" type="text" field="postalNumber" model="model"></base-input-required>
        <base-input-required label="Количество этажей" type="text" field="floorCount" model="model"></base-input-required>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" ng-click="save();">Сохранить</button>
                <button class="btn btn-default" ng-click="cancel()">Отмена</button>
            </div>
        </div>
    </form>
</div>