<div>

    <heading label="Дом" icon="glyphicon-home" has-next="true" href="#/house/view/{{house.id}}/1"></heading>
    <heading label="Секция" icon="glyphicon-th-large" has-next="true" href="#/section/view/{{section.id}}/1"></heading>
    <heading label="Квартира" icon="glyphicon-lock" href="#/unit/view/{{model.id}}"></heading>

    <form class="form-horizontal">
        <fieldset disabled>
            <view-row label="Номер" value="model.number"></view-row>
            <view-row label="Строительный номер" value="model.structuralNumber"></view-row>
            <view-row label="Почтовый номер" value="model.postalNumber"></view-row>
            <view-row label="Этаж" value="model.floor"></view-row>
            <view-row label="Стояк" value="model.span"></view-row>
            <view-row label="Количество комнат" value="model.roomCount"></view-row>
            <view-row label="Стоимость ( 100% )" value="model.startingPrice"></view-row>
            <view-checkbox label="Забронирована" value="model.booked" ></view-checkbox>
        </fieldset>
        <view-edit></view-edit>
    </form>

    <post-render></post-render>
</div>