<div>

    <heading icon=" glyphicon-align-left" label="Тип объекта"></heading>

    <form name="form" class="form-horizontal" role="form" xt-form novalidate>
        <base-input-required label="Отображаемое имя" type="text" field="name" model="model"></base-input-required>
        <base-input-required label="Внутреннее имя" type="text" field="internalName" model="model"></base-input-required>
        <checkbox field="active" model="model" label="Запись активна"/>
        <save-cancel></save-cancel>
    </form>
    <post-render></post-render>
</div>