<div>

    <heading icon=" glyphicon-user" label="Клиент"></heading>

    <form name="form" class="form-horizontal" role="form" xt-form novalidate>
        <input type="hidden" ng-model="model.type" ng-init="initField('type','COMPANY')">

        <base-input-required label="Название" field="name" type="text" model="model"></base-input-required>
        <base-input-required label="Президент" field="president" type="text" model="model"></base-input-required>
        <base-input-required label="Юридический адрес" field="legalAddress" type="text" model="model"></base-input-required>
        <checkbox field="active" model="model" label="Запись активна"/>
        <save-cancel></save-cancel>
    </form>
    <post-render></post-render>
</div>