<div ng-cloak>
    <post-render entity="client"></post-render>

    <heading icon=" glyphicon-user" label="Клиент"></heading>

    <form class="form-horizontal">
        <h4 class="section">Основная информация</h4>
        <fieldset disabled ng-show="model.type === 'PRIVATE'">
            <view-row label="ФИО" value="model.name"></view-row>
            <view-row label="Пасспортные №" value="model.passportData"></view-row>
            <view-row label="Выдан" value="model.passportGiven"></view-row>
            <view-row label="Прописка" value="model.registration"></view-row>
            <view-row label="ИНН" value="model.inn"></view-row>
            <view-checkbox label="Запись активна" value="model.active"></view-checkbox>
        </fieldset>

        <fieldset disabled ng-show="model.type === 'COMPANY'">
            <view-row label="Название" value="model.name"></view-row>
            <view-row label="Президент" value="model.president"></view-row>
            <view-row label="Юридический адрес" value="model.legalAddress"></view-row>
            <view-checkbox label="Запись активна" value="model.active"></view-checkbox>
        </fieldset>

        <h4 class="section">Контакты</h4>
        <fieldset>
            <view-row label="{{contact.type.label}}" value="contact.contact" ng-repeat="contact in model.contacts | orderBy:contactSort"></view-row>
        </fieldset>

        <view-edit></view-edit>
    </form>
</div>